.twoproducts {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.twoproducts .div-2 {
  background-color: #ffffff;
  height: 1024px;
  position: relative;
  width: 1440px;
}

.twoproducts .overlap-group {
  height: 428px;
  left: 569px;
  position: absolute;
  top: 255px;
  width: 578px;
}

.twoproducts .ellipse {
  background-color: #66bc5459;
  border-radius: 214px;
  height: 428px;
  left: 150px;
  position: absolute;
  top: 0;
  width: 428px;
}

.twoproducts .buttons-normal-compare {
  margin: 0 auto;
  position: absolute !important;
  top: 323px !important;
}

.twoproducts .compare {
  display: flex;
  flex-direction: column;
  top: 720px;
  position: relative;
}

.twoproducts .name-desc {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.twoproducts .product-1,
.twoproducts .product-2 {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.twoproducts .others {
  display: grid;
  grid-template-columns: auto auto;
}

.twoproducts .content-1,
.twoproducts .content-2 {
  display: flex;
  flex-direction: column;
}

.twoproducts .name-1,
.twoproducts .name-2,
.twoproducts .vendore-code-1,
.twoproducts .vendore-code-2,
.twoproducts .others-1,
.twoproducts .others-2,
.twoproducts .price-1,
.twoproducts .price-2 {
  color: #000000;
  font-family: "Jost-Regular", Helvetica;
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 12px;
  width: 700px;
}

.twoproducts .desc-1, 
.twoproducts .desc-2  {
  color: #000000;
  font-family: "Jost-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  margin-bottom: 12px;
  width: 700px;
}

.twoproducts .input-active-2-code1 {
  left: 0 !important;
  position: absolute !important;
  top: 195px !important;
}

.twoproducts .input-active-2-code2 {
  left: 0 !important;
  position: absolute !important;
  top: 249px !important;
}

.twoproducts .text-wrapper-3 {
  color: #000000;
  font-family: "Jost-Medium", Helvetica;
  font-size: 38px;
  font-weight: 500;
  left: 9px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 116px;
}

.twoproducts .main-logo {
  height: 69px !important;
  left: 57px;
  position: absolute;
  top: 53px;
  width: 164px !important;
}

.twoproducts .p {
  color: #000000;
  font-family: "Jost", Helvetica;
  font-size: 18px;
  font-weight: 500;
  height: 26px;
  left: 51px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 1486px;
}

.twoproducts .buttons-normal-back {
  left: 1291px !important;
  position: absolute !important;
  top: 69px !important;
}

.twoproducts .text-wrapper-4 {
    color: #000000;
    font-family: "Jost", Helvetica;
    font-size: 18px;
    font-weight: 500;
    height: 26px;
    left: 259px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 73px;
}

.twoproducts .buttons-menu-normal-history {
  left: 420px !important;
  position: absolute !important;
  top: 74px !important;
}

  .twoproducts .buttons-menu-normal-compare {
    left: 621px !important;
    position: absolute !important;
    top: 74px !important;
  }
 