.log-in {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .log-in .div-2 {
    background-color: #ffffff;
    height: 1024px;
    position: relative;
    width: 1440px;
  }
  
  .log-in .overlap-group {
    height: 428px;
    left: 569px;
    position: absolute;
    top: 255px;
    width: 578px;
  }
  
  .log-in .ellipse {
    background-color: #66bc5459;
    border-radius: 214px;
    height: 428px;
    left: 150px;
    position: absolute;
    top: 0;
    width: 428px;
  }
  
  .log-in .buttons-normal-login {
    left: 105px !important;
    position: absolute !important;
    top: 333px !important;
  }
  
  .log-in .input-active-2-email {
    left: 0 !important;
    position: absolute !important;
    top: 195px !important;
  }
  
  .log-in .input-active-2-password {
    left: 0 !important;
    position: absolute !important;
    top: 249px !important;
  }
  
  .log-in .text-wrapper-3 {
    color: #000000;
    font-family: "Jost-Medium", Helvetica;
    font-size: 38px;
    font-weight: 500;
    left: 9px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 116px;
  }

.log-in .main-logo {
    height: 69px !important;
    left: 57px;
    position: absolute;
    top: 53px;
    width: 164px !important;
}
  
  .log-in .p {
    color: #000000;
    font-family: "Jost", Helvetica;
    font-size: 18px;
    font-weight: 500;
    height: 26px;
    left: 51px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 976px;
  }
  
  .log-in .buttons-normal-back {
    left: 1291px !important;
    position: absolute !important;
    top: 69px !important;
  }

  .log-in .text-wrapper-4 {
      color: #000000;
      font-family: "Jost", Helvetica;
      font-size: 18px;
      font-weight: 500;
      height: 26px;
      left: 259px;
      letter-spacing: 0;
      line-height: normal;
      position: absolute;
      top: 73px;
  }
  
  .log-in .buttons-menu-normal-history {
    left: 420px !important;
    position: absolute !important;
    top: 74px !important;
  }

  .log-in .buttons-menu-normal-graph {
    left: 621px !important;
    position: absolute !important;
    top: 74px !important;
  }
  