.buttons {
    align-items: flex-start;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    cursor: pointer;
  }
  
  .buttons .normal {
    align-items: center;
    background-color: #66bc54;
    border-radius: 5px;
    display: inline-flex;
    flex: 0 0 auto;
    gap: 18px;
    padding: 4px 20px;
    position: relative;
  }
  
  .buttons .text-wrapper {
    color: #ffffff;
    font-family: "Jost", Helvetica;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1px;
    position: relative;
    width: fit-content;
  }
  