﻿.history {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.history .div-2 {
    background-color: #ffffff;
    height: 1024px;
    position: relative;
    width: 1440px;
}

.history .overlap-group {
    left: 42px;
    position: absolute;
    top: 292px;
    display: flex;
    flex-direction: column;
}

.history .ellipse {
    background-color: #66bc5459;
    border-radius: 214px;
    height: 428px;
    left: 719px;
    position: absolute;
    top: 255px;
    width: 428px;
}

.history .product {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.history .product-content {
    color: #000000;
    font-family: "Jost-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: normal;
}

.history .elem {
    cursor: pointer;
    text-decoration: underline;
}

.history .header {
    background-color: transparent;
    height: 182px;
    left: 0;
    position: absolute;
    top: 202px;
    width: 1342px;
}

.history .text-wrapper-3 {
    color: #000000;
    font-family: "Jost-Medium", Helvetica;
    font-size: 38px;
    font-weight: 500;
    left: 536px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
}

.history .text-wrapper-6 {
    color: #000000;
    font-family: "Jost-Medium", Helvetica;
    font-size: 18px;
    font-weight: 500;
    left: 61px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 361px;
}

.history .main-logo {
    height: 69px !important;
    left: 57px;
    position: absolute;
    top: 53px;
    width: 164px !important;
}

.history .text-wrapper-7 {
    color: #000000;
    font-family: "Jost", Helvetica;
    font-size: 18px;
    font-weight: 500;
    height: 26px;
    left: 259px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 73px;
}

.history .buttons-menu-normal-history {
    left: 420px !important;
    position: absolute !important;
    top: 74px !important;
}

.history .buttons-menu-normal-graph {
    left: 596px !important;
    position: absolute !important;
    top: 74px !important;
  }

.history .buttons-normal-back {
    left: 1291px !important;
    position: absolute !important;
    top: 69px !important;
}

.history .p {
    color: #000000;
    font-family: "Jost", Helvetica;
    font-size: 18px;
    font-weight: 500;
    height: 26px;
    left: 51px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 976px;
}
