.input.active {
  border: 1px solid #66BC54;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  width: 445px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.input:focus {
  outline: none;
  border-color: #66BC54;
}

.input.active-2 {
  border: 1px solid #66BC54;
  padding: 8px;
  font-size: 16px;
  border-radius: 4px;
  width: 300px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}